<div class="sub-container">
  <div class="text">Our services</div>
  <div class="set-of-services">
    <div class="text1">
      <h1>Haircut</h1>
      <p>Man's haircut : 40$</p>
      <p>Woman's haircut : 60$</p>
      <p>Kid's haircut: 25$</p>
    </div>
    <div class="text1">
      <h1>Hair Coloring</h1>
      <p>Full Colour : 100$</p>
      <p>Root Colour : 60$</p>
      <p>Man's bleach : 180$</p>
    </div>
    <div class="text1">
      <h1>Hair treatment</h1>
      <p>Keratin treatment : 80$</p>
      <p>Oil treatment : 60$</p>
      <p>Scalp treatment : 50$</p>
    </div>
  </div>
</div>
