<div class="sub-container">
  <div class="map-img">
    <img class="img" src="assets/Photos/map.jpg" />
  </div>
  <div class="informations">
    <div>
      <h1>Bybish Hair Salon</h1>
      <p>700 Baseline road</p>
      <p>Ottawa</p>
      <p>Ontario</p>
      <p>K2C 8R9</p>
      <p>613-587-7845</p>
      <p>Bybish.hair@gmail.com</p>
    </div>
    <div class="opening">
      <h1>Opening Hours</h1>
      <p>Week days : 10:00 - 22:00</p>
      <p>Weekends and holidays : 10:00 - 20:00</p>
    </div>
  </div>
</div>
