<div class="sub-container">
  <div class="text">CONGRATS! BOOKING CONFIRMED</div>
  <div class="info-text">
    <p>Your appointment has been confirmed</p>
    <p>
      You'll soon receive a confirmation e-mail containing the details of your
      appointment.
    </p>
  </div>
  <div class="text">Booking Details</div>
  <div class="details">
    <div class="element">
      <p>Booking Number :</p>
      <p>14589658</p>
    </div>
    <div class="element">
      <p>Time :</p>
      <p>12h05</p>
    </div>
    <div class="element">
      <p>Service :</p>
      <p>Hair coloring</p>
    </div>
    <div class="element">
      <p>Stylist :</p>
      <p>Jabril</p>
    </div>
    <div class="button-back">
      <button [routerLink]="['/']">Back Home</button>
    </div>
  </div>
</div>
