<div class="head-container">
  <div class="logo">
    <img src="assets\Photos\logo_black.png" />
  </div>
  <div class="menu-buttons">
    <span
      ><a
        [routerLink]="['']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      ></span
    >
    <span
      ><a [routerLink]="['/services']" routerLinkActive="active-link"
        >Services</a
      ></span
    >
    <span
      ><a [routerLink]="['/booking']" routerLinkActive="active-link"
        >Booking</a
      ></span
    >
    <span
      ><a [routerLink]="['/location']" routerLinkActive="active-link"
        >Location</a
      ></span
    >
    <span
      ><a [routerLink]="['/contact']" routerLinkActive="active-link"
        >Contact Us</a
      ></span
    >
  </div>
</div>
<router-outlet></router-outlet>
